<!DOCTYPE html>
<html manifest="manifest.appcache">
<head>
    <meta charset="utf-8" />
    <meta name="title" content="Leverans-Super Heroes for your life" />
    <meta name="description" content="Leverans provide you services like grocery shopping,food delivery,bill payments, document pickup etc. to make your life easier.">
    <meta name="keywords" content="Errands,Leverans,Delivery,Delivery Service,Food Delivery,Pick,Drop,Call,Whatsapp,Grocery,Online Order,Online Grocery,Online Booking,Party,Repair Service,Super Heroes for your life,Leverans.in">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leverans-Super Heroes for your life</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Resources/Images/cape.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height:100%;width:100%;background-image:url(/Resources/Images/background_image.jpg);">
    <div id="body">
        <div class="navbar navbar-inverse col-md-12" @*navbar-fixed-top*@ style="background-color:#0052cc;">
            <div @*class="container"*@ style="margin-left:20px;margin-right:40px;max-height:50px">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed nav-button" onclick="showMenu()" aria-expanded="false" type="button" data-toggle="collapse" data-target="#nav-option">
                        <span class="sr-only">Toggle navigation</span>
                        @*<span class="fa fa-bars"></span>*@
                    </button>
                    <div id="Header-Logo" class="navbar-collapse collapse" @*class="navbar-brand"*@ style="float:left;padding-top:25px;position:absolute;">
                        @*padding-left:25px*@
                        <a href='@Url.Action("Index", "Home", new { area = "" })'>
                            <img src='@Url.Content("~/Resources/Images/Leveran.png")' style="width:120px;height:60px;padding-bottom:1px;" class="box-shadow img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="navbar-collapse collapse" style="margin-left:150px">
                    <ul class="nav navbar-nav" style="padding-top: 10px">
                        <li class="">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="">@Html.ActionLink("Book", "BookService", "Home")</li>
                        @*<li class="">@Html.ActionLink("Services", "Services", "Home")</li>*@
                        <li class="">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="">@Html.ActionLink("About Us", "About", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="menu-toggle">
                    <div class="hide" id="nav-option" style="background-color:#0052cc;padding-left:15px;overflow-y:auto;">
                        <ul class="navbar-nav" @*nav*@ style="padding-top: 10px;float:left">
                            <li class="">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="">@Html.ActionLink("Book", "BookService", "Home")</li>
                            <li class="">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="">@Html.ActionLink("About Us", "About", "Home")</li>
                            <li class="">@Html.ActionLink("Call: +91 9769841499", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" body-full container col-md-12">
            <div id="bodyPage" style="width:100%">
                @RenderBody()
            </div>
        </div>
    </div>
    <br />

    <div class="sticky-popup right-bottom open_sticky_popup popup-content-bounce-in-up" id="CallBack" style="visibility: visible;">
        @Html.Partial("_StickyNote")
    </div>
    <div id="popup">
        <img src="~/Resources/Images/Mumbai_Soon.jpg" class="img-responsive promotionPopUp" />
        <a class="popup-close" id="modalClose" style="top:1%;right:0" onclick="closemodal()">[X]</a>
    </div>
    <div id="footer" style="background-color: #26734d;width:100%;height:100%;display:inline-block;padding-bottom:40px">
        <footer>
            <div>
                <hr />
            </div>
            <div id="copyright" style="float:left;background-color:inherit ">
                <p style="margin-left:150px;">Copyright @DateTime.Now.Year &copy; Leverans LLP. All Rights Reserved</p>
            </div>
            <div id="SocileMedia" style="float:right;background-color:inherit">
                <div style="margin-right:150px">
                    <a href="https://www.facebook.com/leverans.in" target="_blank">
                        <img src="~/Resources/Images/facebook.svg" style="width:25px;height:30px ">
                    </a>
                    <a href="https://twitter.com/Leverans_Heroes" target="_blank">
                        <img src="~/Resources/Images/twitter.svg" style="width:25px;height:30px ">
                    </a>
                    <a href="https://www.instagram.com/leverans_heroes" target="_blank">
                        <img src="~/Resources/Images/instagram.svg" style="width:25px;height:30px ">
                    </a>
                    <a href="https://www.youtube.com/channel/UC0AC3X1O_cAMqz7aRLi3JbQ" target="_blank">
                        <img src="~/Resources/Images/youtube.svg" style="width:25px;height:30px ">
                    </a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function () {
            $("#popup").dialog({
                modal: true,
                dialogClass: 'popUpContainer',
                height:300,
                width:600
            });
        });

        function closemodal() {
            $("#popup").dialog('close');
        }
        function showMenu() {
            if (jQuery("#nav-option").hasClass("showmenu")) {
                jQuery("#nav-option").removeClass("showmenu");
                jQuery("#nav-option").addClass("hide");
            }
            else {
                jQuery("#nav-option").removeClass("hide");
                jQuery("#nav-option").addClass("showmenu");
            }
        }
        var contheight = jQuery(".popup-content").outerHeight() + 2;

        jQuery(".sticky-popup").css("bottom", "-" + contheight + "px");
        function headerclick() {
            if (jQuery('.sticky-popup').hasClass("open")) {
                jQuery('.sticky-popup').removeClass("open");
                jQuery(".sticky-popup").css("bottom", "-" + contheight + "px");
            }
            else {
                jQuery('.sticky-popup').addClass("open");
                jQuery(".sticky-popup").css("bottom", 0);
            }
        }
        var frm = $('#contactForm1');

        frm.submit(function (ev) {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    if (data.success) {
                        $("#lblSuccess").css("display", "block");
                        //$("#lblerror").css("display", "none");
                    }
                    else {
                        $("#lblSuccess").css("display", "none");
                        //$("#lblerror").text(data.error);
                        //$("#lblerror").css("display", "block");
                    }
                },
                error: function (req, status, error) {
                    alert("Oops! Something went wrong. Please try again later or call us .");
                }
            });

            ev.preventDefault();
        });
    </script>

</body>
</html>



