<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leverans</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Resources/Images/cape.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height:100%;width:100%;background-image:url(/Resources/Images/background_image.jpg);">
    <div id="body">
        <div class="navbar navbar-inverse" @*navbar-fixed-top*@ style="background-color:#0052cc;">
            @*<button class="navbar-toggle collapsed" aria-expanded="false" type="button" data-toggle="collapse" data-target="#nav-option">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>*@
            <div id="Header-Logo" style="float:left;padding-top: 25px;padding-left:25px;position:absolute;" class="navbar-collapse collapse">
                <a href='@Url.Action("Index", "Home", new { area = "" })'>
                    <img src='@Url.Content("~/Resources/Images/Leveran.png")' style="width:120px;height:60px;padding-bottom:5px;" class="box-shadow img-responsive" />
                </a>
            </div>
            <div class="container">
                <div class="navbar-collapse" id="nav-option">
                    <ul class="nav navbar-nav" style="padding-top: 10px">
                        <li class="">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="">@Html.ActionLink("Book", "BookService", "Home")</li>
                        @*<li class="">@Html.ActionLink("Services", "Services", "Home")</li>*@
                        <li class="">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="">@Html.ActionLink("About Us", "About", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class=" body-full container">
            <div id="bodyPage" style="width:100%">
                @RenderBody()
            </div>
        </div>
    </div>
    <br />
    
    <div class="sticky-popup right-bottom open_sticky_popup popup-content-bounce-in-up" id="CallBack" style="visibility: visible;">
        @Html.Partial("_StickyNote")
        </div>
        
    <div id="footer" style="background-color: #26734d;width:100%;height:100%;display:inline-block;padding-bottom:40px">
            <footer>
                <div>
                    <hr />
                </div>
                <div id="copyright" style="float:left;background-color:inherit ">
                    <p style="margin-left:150px;">Copyright @DateTime.Now.Year &copy; Leverans Corporate Service Pvt. Ltd. All Rights Reserved</p>
                </div>
                <div id="SocileMedia" style="float:right;background-color:inherit">
                    <div style="margin-right:150px">
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="~/Resources/Images/facebook.svg" style="width:25px;height:30px ">
                        </a>
                        <a href="https://www.twitter.com" target="_blank">
                            <img src="~/Resources/Images/twitter.svg" style="width:25px;height:30px ">
                        </a>
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="~/Resources/Images/instagram.svg" style="width:25px;height:30px ">
                        </a>
                        <a href="https://plus.google.com" target="_blank">
                            <img src="~/Resources/Images/google-plus.svg" style="width:25px;height:30px ">
                        </a>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
   
     
        <script type="text/javascript">
            var contheight = jQuery(".popup-content").outerHeight() + 2;

            jQuery(".sticky-popup").css("bottom", "-" + contheight + "px");
            function headerclick() {
                if (jQuery('.sticky-popup').hasClass("open")) {
                    jQuery('.sticky-popup').removeClass("open");
                    jQuery(".sticky-popup").css("bottom", "-" + contheight + "px");
                }
                else {
                    jQuery('.sticky-popup').addClass("open");
                    jQuery(".sticky-popup").css("bottom", 0);
                }
            }
            var frm = $('#contactForm1');
            
             frm.submit(function (ev) {
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        if (data.success) {
                            $("#lblSuccess").css("display", "block");
                            //$("#lblerror").css("display", "none");
                        }
                        else {
                            $("#lblSuccess").css("display", "none");
                            //$("#lblerror").text(data.error);
                            //$("#lblerror").css("display", "block");
                        }
                    },
                    error: function (req, status, error) {
                        alert("Oops! Something went wrong. Please try again later or call us .");
                    }
                });

                ev.preventDefault();
            });
        </script>
    
</body>
</html>

