@using ProjectLeveran.Models
@model BookServiceViewModel

@*<h2>@ViewBag.Message</h2>*@

@{
    ViewBag.Title = "Book Service";
}
<div class="jumbotron">
    <img class="SlideShow" src="~/Resources/Images/BookinImg.jpg"  style="display:block ">
</div>

<div class="row body-content">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("BookService", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Enter your details below to get a quick call back</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control control-background" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control control-background" })
                    @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control control-background" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Book Now" class="btn btn-default" />
                </div>
            </div>
            }
            <div>
           @if (ViewBag.returnmessage != null)
              {
                <label class="is-success">@ViewBag.returnmessage.</label>
              }
            </div>
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}